<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add 
      key="connectionString" 
      value="Data Source=localhost\sqldeveloper;Initial Catalog=dynamicorm;User ID=dynamicorm;Password=dynamicorm"/>
    <add key="schema" value="tabledriver"/>
    <add key="databaseType" value="MSSql"/>
  </appSettings>
</configuration>